.home {
    background-color: #D9D9D7;
    background-image: url("../../images/backgroundHome.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50rem;
}